@media screen and (min-width: 769px) and (max-width: 1020px) {
  html {
    font-size: 14px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu menu" "item1 red1" "chart blue1" "cat last";
  }
  .menu li a {
    font-size: 1.4rem;
    padding-left: 0;
    padding: 0;
  }
  .menu {
    grid-area: menu;
    padding: 0rem 0.5rem;
  }
  .item1 {
    grid-area: item1;
  }
  .cat {
    grid-area: cat;
    grid-row: span 2;
    order: 1;
  }
  .red1 {
    grid-area: red1;
  }
  .blue1 {
    grid-area: blue1;
  }
  .chart {
    grid-area: chart;
    grid-row: span 2;
  }
  .last {
    grid-area: last;
  }
}
